.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 40px;
    color: black;
    text-align: center;
    margin-top: 85px;
}

a{
    text-decoration: none;
}


.footerTextSize
{
    font-size: 20px;
}