html, body{
		height: 100%;
		background-color: #39cccc;
		padding: 0;
		margin: 0;
}

.margintop{
	margin-top:100px;
}

.border{
	border-radius:25px;
	border:none;
	width: 200px;
	height: 30px;
}

.button{
	border-radius:25px;
	border:none;
	width: 60px;
	height: 30px;
}

.fontlogo{
	font-size: 80px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin-top:50px;
}

a{
	text-decoration: none;
}